@font-face {
    font-family: 'Roboto';
    src: 
        url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*, html, body {
    margin:0 auto;
    box-sizing: border-box; 
    font-family: 'Roboto';
}

header{
    display: flex;
    justify-content: flex-start;
    height: 80px;
    background-color: #06D9D9;
    padding-bottom: 5px;
    padding-top: 5px;
}

header > img{
    margin-right: 0;
    margin-left: 20px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

header > img:hover,
header > img:focus{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
    cursor: pointer;
}

nav{
    display:flex;
    padding:15px 20px;
    margin-left:10px;
}

header > button,
nav > button{
    background: #3c3449;
    border-color:#3c3449;
    padding:10px 20px;
    margin-left:20px;
    color: white;
    border-radius: 6px;  
}

header > button{
    margin-right: 30px;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header > button:hover,
header > button:focus,
nav > button:hover,
nav > button:focus{
    background: #3c1529;
    border-color:#3c1529;
}



footer {
    position: absolute;
    bottom: 0;
    width:100%;
    display: block;
    background: lightgray;  
}

.footer-info  {
    padding: 20px;
}

.footer-info > h2{
    margin-bottom:20px;
}



.container {
    max-width: 600px;
    margin: 60px 0px 0px 40px;
    
}

.container > h2 {
    padding: 15px 0px;
}

.container > p {
    line-height: 130%;
}
.cards {
    margin: 35px 0px;
}

.card {
    cursor: pointer;    
    background: #D1D1D1;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center; 
    padding: 27px;
    margin: 30px 0px;
    max-width: 440px;
}

.card:hover {
    background: gray;
}

.card > a {
    margin: 10px 0px;
   
}
