/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        local('Roboto-Regular.woff') format('woff'),
        local('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*, html, body {
    margin:0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    font-family: 'Roboto';
}


header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 80px;
    background-color: #06D9D9;
    padding-bottom: 5px;
    padding-top: 5px;
}


a{
    margin:0;
    text-decoration: none;
    color: black;
}

form, section{
    margin:0;
}

header > a > img{
    margin-right: 0;
    margin-left: 20px;
    -webkit-transform: scale(1);
	-ms-transform: scale(1);
	    transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

header > a > img:hover,
header > a > img:focus{
    -webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	    transform: scale(1.1);
    cursor: pointer;
}

nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:15px 20px;
    margin-left:10px;
}

header > form > button,
nav > form >button{
    background: #3c3449;
    border-color:#3c3449;
    padding:10px 20px;
    margin-left:20px;
    color: white;
    border-radius: 6px;  
}

header > form > button{
    margin-right: 30px;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header > form > button:hover,
header > form > button:focus,
nav > form > button:hover,
nav > form > button:focus{
    background: #3c1529;
    border-color:#3c1529;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}


footer {
    position: absolute;
    bottom:0;
    width: 100%;
    background: lightgray;  
}

.footer-info  {
    padding: 20px;
}

.footer-info > h2{
    margin-bottom:20px;
}

.container {
    max-width: 600px;
    margin: 60px 0px 0px 40px;
    
}

.container > h2 {
    padding: 15px 0px;
}

.container > p {
    line-height: 130%;
}
.cards {
    margin: 35px 0px;
}

.card {
    cursor: pointer;    
    background: #D1D1D1;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center; 
    padding: 27px;
    margin: 30px 0px;
    max-width: 440px;
}

.card:hover {
    background: gray;
}

.card > a {
    margin: 10px 0px;
   
}

/* тесты */

.about {
	padding: 43px;
}

.about>h2 {
	margin-bottom: 20px;
}

.about>h3 {
	font-weight: normal;
}

li {
	list-style-type: none;
	padding: 3px 20px;
}

.usual__check {
padding-left: 1.21em;
}

.usual__check__input {
	display:none;
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.usual__check__box {
	position: absolute;
	margin-top: 0.2em;
	margin-left: -1em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 0.05em;
	background-color: white;
	-webkit-box-shadow: 0 0 0 0.1em #4A90E2;
	box-shadow: 0 0 0 0.1em #4A90E2;
}

.usual__check__input:checked + .usual__check__box {
	background-color: #4A90E2;
	background-image:url('../img/check.svg');
}

.usual__check__input:focus + .usual__check__box {
	-webkit-box-shadow:
	0 0 0 0.1em #4A90E2,
	0 0 0 0.2em #7ED321;
	box-shadow:
	0 0 0 0.1em #4A90E2,
	0 0 0 0.2em #7ED321;
}

table {
	width: 570px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
	
.col1 {
	width: 200px;
	}
	
#input1 {
	margin-left: 74px;
	margin-bottom: 20px;
}

.test {
	max-width: 800px;
	margin: 0;
}

.main__student {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 20px 40px;
}
.main__students-initials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	max-width: 400px;
}

.main__students-email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	max-width: 400px;
	margin-right: 100px;
}

.main__student-initials__text {
	padding-right: 47px;
}

.main__student-email__text {
	padding-right: 10px;
}

.placeholder-box1 { 
	display: block;	
	position: relative;
	margin: 20px 0;
	width: 250px;
}

.placeholder-box2 {
	display: block;	
	position: relative;	
	width: 250px;
	margin-left: 8px;
}

.placeholder-box1 input {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.input-answer{
    display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

input[type="text"]:hover {
	border-color: #06D9D9;
}

input[type="text"]:focus {
	border-color: #06D9D9;
	outline: none;
}
	


.placeholder-box2 input {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
}
.placeholder-text {    
	display: block;
	width: 100%; 
	line-height: 37px;
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	color: #888;
	cursor: text;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	margin: 0;
}
 
.main__students__button {
	background: #3c3449;
    border-color:#3c3449;
    padding:10px 20px;
    margin-left:292px;
	margin-top: 20px;
    color: white;
    border-radius: 6px; 
}

.main__students__button:focus,
.main__students__button:hover{
    background: #3c1529;
    border-color:#3c1529;
}

.inf{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inf-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
}

.inf-block-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 750px;
    padding-top: 50px;
}
.inf-block-form-label {
  font-size: 18px;
}
.inf-block-form-box{
    font-size: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 450px;
    margin: 0;
}

.inf-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}
.inf-button{
	background: #3c3449;
    border-color:#3c3449;
    font-size: 18px;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    margin-bottom: 40px;
}

.inf-button:hover,
.inf-button:focus{
    background: #3c1529;
    border-color:#3c1529;
}


.table {
  margin-top:30px;
  margin-left: 30px;
  width: 800px;
}
.correct {

    color:green;
}

.wrong {
    color:red;
}


.col1 {
    width: 200px;
}

.col2 {
    width: 150px;
}

.hide{
    visibility: hidden;
}

.show{
    visibility:visible;
}

.auth-inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    width: 15%;
}
.auth-inf-log {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    width: 100%;
}
.auth-inf-pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.input {
    margin-left: 50px;
    margin-bottom: 25px;
    width: 100%;
    height: 25px;
    border:1px solid #ced4da;
    border-radius: 5px;
}
.auth-inf-p{
    font-size: 18px;
    
}
.auth-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 90px;
    margin-bottom: 40px;
}
.auth-button {
    color:white;
	background: #3c3449;
    border-color:#3c3449;
    padding: 10px 30px;
    border-radius: 6px;
}

.auth-button:hover,
.auth-button:focus{
    background: #3c1529;
    border-color:#3c1529;
}