.about {
	padding: 43px;
}

.about>h2 {
	margin-bottom: 20px;
}

.about>h3 {
	font-weight: normal;
}

li {
	list-style-type: none;
	padding: 3px 20px;
}

.usual__check {
padding-left: 1.21em;
}

.usual__check__input {
	display:none;
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.usual__check__box {
	position: absolute;
	margin-top: 0.2em;
	margin-left: -1em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 0.05em;
	background-color: white;
	-webkit-box-shadow: 0 0 0 0.1em #4A90E2;
	box-shadow: 0 0 0 0.1em #4A90E2;
}

.usual__check__input:checked + .usual__check__box {
	background-color: #4A90E2;
	background-image:url('../img/check.svg');
}

.usual__check__input:focus + .usual__check__box {
	-webkit-box-shadow:
	0 0 0 0.1em #4A90E2,
	0 0 0 0.2em #7ED321;
	box-shadow:
	0 0 0 0.1em #4A90E2,
	0 0 0 0.2em #7ED321;
}

table {
	width: 570px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
	
.col1 {
	width: 200px;
	}
	
#input1 {
	margin-left: 74px;
	margin-bottom: 20px;
}

.test {
	max-width: 800px;
	margin: 0;
}

.main__student {
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
}
.main__students-initials {
	display: flex;
	align-items: center;
	margin: 0;
	max-width: 400px;
}

.main__students-email {
	display: flex;
	align-items: center;
	margin: 0;
	max-width: 400px;
	margin-right: 100px;
}

.main__student-initials__text {
	padding-right: 47px;
}

.main__student-email__text {
	padding-right: 10px;
}

.placeholder-box1 { 
	display: block;	
	position: relative;
	margin: 20px 0;
	width: 250px;
}

.placeholder-box2 {
	display: block;	
	position: relative;	
	width: 250px;
	margin-left: 8px;
}

.placeholder-box1 input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

input[type="text"]:hover {
	border-color: #06D9D9;
}

input[type="text"]:focus {
	border-color: #06D9D9;
	outline: none;
}
	


.placeholder-box2 input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
}
.placeholder-text {    
	display: block;
	width: 100%; 
	line-height: 37px;
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	color: #888;
	cursor: text;
	user-select: none;
	margin: 0;
}
 
.main__students__button {
	background: #3c3449;
    border-color:#3c3449;
    padding:10px 20px;
    margin-left:292px;
	margin-top: 20px;
    color: white;
    border-radius: 6px; 
}

.main__students__button:focus{
    background: #3c1529;
    border-color:#3c1529;
}
.main__students__button:hover{
    background: #3c1529;
    border-color:#3c1529;
